<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>
  
  <h2>
    This is the home page for the 
    <a href="http://www.ashish-kumar-yadav.blogspot.com/">
    Ashish Kumar Yadav's Blog 
    </a> and this is nice.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("images.jpg", class: "img-circle", alt: "My image", height: "150px"), 'http://www.google.co.in' %>

