<footer class="footer">
  <small>
    The <a href="http://www.ashish-kumar-yadav.blogspot.in/">Ashish Kumar's Bolg</a>
    by Ashish Kumar
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.google.co.in/">News</a></li>
    </ul>
  </nav>
</footer>
